body { 
    margin: 0; 
    background-color: #333333;
}

#submit {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

#input {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.field {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    text-align: center;
}

.log {
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
}

.logContent {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}